-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: randis
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `dokumen_kendaraan`
--

DROP TABLE IF EXISTS `dokumen_kendaraan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dokumen_kendaraan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kendaraan_id` int(11) NOT NULL,
  `jenis_dokumen` enum('STNK','BPKB','Surat Polisi','Asuransi','KIR','Lainnya') NOT NULL,
  `nomor_dokumen` varchar(50) DEFAULT NULL,
  `tanggal_terbit` date DEFAULT NULL,
  `tanggal_berlaku` date DEFAULT NULL,
  `instansi_penerbit` varchar(100) DEFAULT NULL,
  `file_dokumen` varchar(255) DEFAULT NULL,
  `status` enum('Aktif','Kadaluarsa','Dalam Proses') DEFAULT 'Aktif',
  `keterangan` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_by` int(11) DEFAULT NULL,
  `updated_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `kendaraan_id` (`kendaraan_id`),
  KEY `created_by` (`created_by`),
  KEY `updated_by` (`updated_by`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dokumen_kendaraan`
--

LOCK TABLES `dokumen_kendaraan` WRITE;
/*!40000 ALTER TABLE `dokumen_kendaraan` DISABLE KEYS */;
/*!40000 ALTER TABLE `dokumen_kendaraan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jadwal_perawatan`
--

DROP TABLE IF EXISTS `jadwal_perawatan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jadwal_perawatan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kendaraan_id` int(11) NOT NULL,
  `jenis_perawatan` varchar(100) NOT NULL,
  `deskripsi` text DEFAULT NULL,
  `bengkel` varchar(50) DEFAULT NULL,
  `tanggal_perawatan` date DEFAULT NULL,
  `km_kembali` int(11) DEFAULT NULL,
  `km_saat_perawatan` int(11) DEFAULT NULL,
  `estimasi_biaya` int(20) DEFAULT NULL,
  `biaya` decimal(15,2) DEFAULT NULL,
  `status` enum('Terjadwal','Dalam Proses','Selesai','Terlewat','Dibatalkan','Ditunda') DEFAULT 'Terjadwal',
  `prioritas` varchar(30) DEFAULT NULL,
  `reminder_sent` tinyint(1) DEFAULT 0,
  `tanggal_selesai` date DEFAULT NULL,
  `biaya_aktual` tinyint(15) DEFAULT NULL,
  `keterangan` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_by` int(11) DEFAULT NULL,
  `updated_by` int(11) DEFAULT NULL,
  `teknisi_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `kendaraan_id` (`kendaraan_id`),
  KEY `created_by` (`created_by`),
  KEY `updated_by` (`updated_by`),
  KEY `teknisi_id` (`teknisi_id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jadwal_perawatan`
--

LOCK TABLES `jadwal_perawatan` WRITE;
/*!40000 ALTER TABLE `jadwal_perawatan` DISABLE KEYS */;
/*!40000 ALTER TABLE `jadwal_perawatan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kendaraan`
--

DROP TABLE IF EXISTS `kendaraan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kendaraan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `no_polisi` varchar(20) NOT NULL,
  `no_rangka` varchar(50) NOT NULL,
  `no_mesin` varchar(50) NOT NULL,
  `merk` varchar(50) NOT NULL,
  `tipe` varchar(50) DEFAULT NULL,
  `tahun_pembuatan` year(4) DEFAULT NULL,
  `warna` varchar(30) DEFAULT NULL,
  `jenis` enum('Roda 2','Roda 4','Truk','Bus','Lainnya') DEFAULT 'Roda 4',
  `bahan_bakar` enum('Bensin','Solar','Listrik','Hybrid') DEFAULT 'Bensin',
  `no_reg` varchar(30) DEFAULT NULL,
  `no_stnk` varchar(30) DEFAULT NULL,
  `no_bpkb` varchar(30) DEFAULT NULL,
  `tanggal_berlaku_stnk` date DEFAULT NULL,
  `pemilik_stnk` varchar(100) DEFAULT NULL,
  `status_kepemilikan` enum('Satker','Pinjam Pakai') DEFAULT 'Satker',
  `satker` varchar(50) NOT NULL,
  `kode_barang` varchar(50) DEFAULT NULL,
  `kondisi` enum('Baik','Rusak Ringan','Rusak Berat') DEFAULT 'Baik',
  `status_kendaraan` enum('Operasional','Perbaikan','Rusak','Tidak Aktif') DEFAULT 'Operasional',
  `status_peminjaman` enum('Tersedia','Dipinjam','Maintenance','Rusak') DEFAULT 'Tersedia',
  `tanggal_servis_terakhir` date DEFAULT NULL,
  `last_service_km` int(11) DEFAULT NULL,
  `odometer` int(11) DEFAULT 0,
  `foto` varchar(255) DEFAULT NULL,
  `catatan` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `no_polisi` (`no_polisi`),
  UNIQUE KEY `no_rangka` (`no_rangka`),
  UNIQUE KEY `no_mesin` (`no_mesin`),
  UNIQUE KEY `no_reg` (`no_reg`),
  UNIQUE KEY `no_stnk` (`no_stnk`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kendaraan`
--

LOCK TABLES `kendaraan` WRITE;
/*!40000 ALTER TABLE `kendaraan` DISABLE KEYS */;
/*!40000 ALTER TABLE `kendaraan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kesatuan`
--

DROP TABLE IF EXISTS `kesatuan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kesatuan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_kesatuan` varchar(100) NOT NULL,
  `kode_kesatuan` varchar(20) NOT NULL,
  `korps_id` int(11) DEFAULT NULL,
  `parent_id` int(11) DEFAULT NULL COMMENT 'For hierarchical organization',
  `level_kesatuan` enum('MABES','KOTAMA','KODAM','KOREM','KODIM','KORAMIL','SATKER') NOT NULL DEFAULT 'SATKER',
  `alamat` text DEFAULT NULL,
  `telepon` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_kesatuan_kode` (`kode_kesatuan`),
  KEY `fk_kesatuan_korps` (`korps_id`),
  KEY `fk_kesatuan_parent` (`parent_id`),
  KEY `idx_kesatuan_level` (`level_kesatuan`),
  CONSTRAINT `fk_kesatuan_korps` FOREIGN KEY (`korps_id`) REFERENCES `korps` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_kesatuan_parent` FOREIGN KEY (`parent_id`) REFERENCES `kesatuan` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Master data Kesatuan TNI';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kesatuan`
--

LOCK TABLES `kesatuan` WRITE;
/*!40000 ALTER TABLE `kesatuan` DISABLE KEYS */;
INSERT INTO `kesatuan` VALUES (1,'Pusat Informasi Pengolah Data','PUSINFOLAHTA',6,NULL,'SATKER',NULL,NULL,NULL,'2025-08-20 11:00:08','2025-08-20 11:00:08'),(2,'Batalyon Raider 1','YONRAIDER1',1,NULL,'SATKER',NULL,NULL,NULL,'2025-08-20 11:00:08','2025-08-20 11:00:08'),(3,'Pasmar 1','PASMAR1',4,NULL,'SATKER',NULL,NULL,NULL,'2025-08-20 11:00:08','2025-08-20 11:00:08'),(4,'Lanud Halim Perdanakusuma','LANUD_HLP',5,NULL,'SATKER',NULL,NULL,NULL,'2025-08-20 11:00:08','2025-08-20 11:00:08');
/*!40000 ALTER TABLE `kesatuan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `korps`
--

DROP TABLE IF EXISTS `korps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `korps` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_korps` varchar(100) NOT NULL,
  `kode_korps` varchar(20) NOT NULL,
  `matra_id` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_korps_kode` (`kode_korps`),
  KEY `fk_korps_matra` (`matra_id`),
  KEY `idx_korps_nama` (`nama_korps`),
  CONSTRAINT `fk_korps_matra` FOREIGN KEY (`matra_id`) REFERENCES `matra` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Master data Korps TNI';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `korps`
--

LOCK TABLES `korps` WRITE;
/*!40000 ALTER TABLE `korps` DISABLE KEYS */;
INSERT INTO `korps` VALUES (1,'Infanteri','INF',1,'2025-08-20 11:00:08','2025-08-20 11:00:08'),(2,'Kavaleri','KAV',1,'2025-08-20 11:00:08','2025-08-20 11:00:08'),(3,'Artileri','ART',1,'2025-08-20 11:00:08','2025-08-20 11:00:08'),(4,'Korps Marinir','MAR',2,'2025-08-20 11:00:08','2025-08-20 11:00:08'),(5,'Korps Penerbang','PNB',3,'2025-08-20 11:00:08','2025-08-20 11:00:08'),(6,'Pusinfolahta','PUSINFO',4,'2025-08-20 11:00:08','2025-08-20 11:00:08');
/*!40000 ALTER TABLE `korps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `log_aktivitas`
--

DROP TABLE IF EXISTS `log_aktivitas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `log_aktivitas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `activity_type` varchar(50) NOT NULL,
  `description` text NOT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `session_id` varchar(128) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `activity_type` (`activity_type`),
  KEY `created_at` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=122 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `log_aktivitas`
--

LOCK TABLES `log_aktivitas` WRITE;
/*!40000 ALTER TABLE `log_aktivitas` DISABLE KEYS */;
/*!40000 ALTER TABLE `log_aktivitas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `log_bahan_bakar`
--

DROP TABLE IF EXISTS `log_bahan_bakar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `log_bahan_bakar` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kendaraan_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `tanggal_isi` date NOT NULL,
  `jam_isi` time DEFAULT NULL,
  `km_saat_isi` int(11) NOT NULL,
  `jenis_bahan_bakar` enum('Pertalite','Pertamax','Pertamax Turbo','Solar','Bio Solar') NOT NULL,
  `jumlah_liter` decimal(8,2) NOT NULL,
  `harga_per_liter` decimal(10,2) NOT NULL,
  `biaya` decimal(15,2) NOT NULL,
  `spbu` varchar(100) DEFAULT NULL,
  `metode_bayar` varchar(20) NOT NULL,
  `alamat_spbu` varchar(255) DEFAULT NULL,
  `nomor_struk` varchar(50) DEFAULT NULL,
  `foto_struk` varchar(255) DEFAULT NULL,
  `foto_sebelum_isi` varchar(255) DEFAULT NULL,
  `foto_sesudah_isi` varchar(255) DEFAULT NULL,
  `foto_odometer` varchar(255) DEFAULT NULL,
  `keterangan` text DEFAULT NULL,
  `catatan` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `kendaraan_id` (`kendaraan_id`),
  KEY `user_id` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `log_bahan_bakar`
--

LOCK TABLES `log_bahan_bakar` WRITE;
/*!40000 ALTER TABLE `log_bahan_bakar` DISABLE KEYS */;
/*!40000 ALTER TABLE `log_bahan_bakar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `matra`
--

DROP TABLE IF EXISTS `matra`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `matra` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_matra` varchar(50) NOT NULL,
  `kode_matra` varchar(10) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_matra_kode` (`kode_matra`),
  KEY `idx_matra_nama` (`nama_matra`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Master data Matra TNI';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `matra`
--

LOCK TABLES `matra` WRITE;
/*!40000 ALTER TABLE `matra` DISABLE KEYS */;
INSERT INTO `matra` VALUES (1,'TNI Angkatan Darat','AD','2025-08-20 11:00:08','2025-08-20 11:00:08'),(2,'TNI Angkatan Laut','AL','2025-08-20 11:00:08','2025-08-20 11:00:08'),(3,'TNI Angkatan Udara','AU','2025-08-20 11:00:08','2025-08-20 11:00:08'),(4,'TNI Mabes','MABES','2025-08-20 11:00:08','2025-08-20 11:00:08');
/*!40000 ALTER TABLE `matra` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifikasi`
--

DROP TABLE IF EXISTS `notifikasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifikasi` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `role_id` int(11) DEFAULT NULL,
  `title` varchar(200) NOT NULL,
  `message` text NOT NULL,
  `type` enum('info','warning','error','success') DEFAULT 'info',
  `category` enum('system','maintenance','document','vehicle','user') DEFAULT 'system',
  `priority` enum('low','normal','high','urgent') DEFAULT 'normal',
  `data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Additional data in JSON format' CHECK (json_valid(`data`)),
  `read_at` timestamp NULL DEFAULT NULL,
  `action_url` varchar(255) DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_notifikasi_user` (`user_id`),
  KEY `fk_notifikasi_role` (`role_id`),
  KEY `idx_notifikasi_type` (`type`),
  KEY `idx_notifikasi_category` (`category`),
  KEY `idx_notifikasi_read` (`read_at`),
  KEY `idx_notifikasi_created` (`created_at`),
  CONSTRAINT `fk_notifikasi_role` FOREIGN KEY (`role_id`) REFERENCES `role` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_notifikasi_user` FOREIGN KEY (`user_id`) REFERENCES `user_account_old` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='System notifications';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifikasi`
--

LOCK TABLES `notifikasi` WRITE;
/*!40000 ALTER TABLE `notifikasi` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifikasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `peminjaman_kendaraan`
--

DROP TABLE IF EXISTS `peminjaman_kendaraan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `peminjaman_kendaraan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kendaraan_id` int(11) NOT NULL,
  `peminjam_id` int(11) NOT NULL,
  `approval_by` int(11) DEFAULT NULL,
  `nomor_surat` varchar(50) DEFAULT NULL,
  `tanggal_mulai` datetime NOT NULL,
  `tanggal_selesai` datetime NOT NULL,
  `tujuan` varchar(255) NOT NULL,
  `keperluan` text DEFAULT NULL,
  `rute` text DEFAULT NULL,
  `driver_id` int(11) DEFAULT NULL,
  `km_awal` int(11) DEFAULT NULL,
  `km_akhir` int(11) DEFAULT NULL,
  `bbm_awal` decimal(5,2) DEFAULT NULL,
  `bbm_akhir` decimal(5,2) DEFAULT NULL,
  `status` enum('Pending','Approved','Ongoing','Completed','Cancelled','Rejected') DEFAULT 'Pending',
  `tanggal_approval` timestamp NULL DEFAULT NULL,
  `tanggal_mulai_aktual` timestamp NULL DEFAULT NULL,
  `tanggal_selesai_aktual` timestamp NULL DEFAULT NULL,
  `catatan_approval` text DEFAULT NULL,
  `catatan_pengembalian` text DEFAULT NULL,
  `kondisi_kembali` enum('Baik','Rusak Ringan','Rusak Berat') DEFAULT 'Baik',
  `biaya_operasional` decimal(15,2) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `cancel_reason` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_peminjaman_nomor` (`nomor_surat`),
  KEY `fk_peminjaman_kendaraan` (`kendaraan_id`),
  KEY `fk_peminjaman_peminjam` (`peminjam_id`),
  KEY `fk_peminjaman_approval` (`approval_by`),
  KEY `fk_peminjaman_driver` (`driver_id`),
  KEY `idx_peminjaman_status` (`status`),
  KEY `idx_peminjaman_tanggal` (`tanggal_mulai`,`tanggal_selesai`),
  KEY `idx_peminjaman_date_range` (`tanggal_mulai`,`tanggal_selesai`,`status`),
  CONSTRAINT `fk_peminjaman_approval` FOREIGN KEY (`approval_by`) REFERENCES `user_account_old` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_peminjaman_driver` FOREIGN KEY (`driver_id`) REFERENCES `pengguna` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_peminjaman_kendaraan` FOREIGN KEY (`kendaraan_id`) REFERENCES `kendaraan` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_peminjaman_peminjam` FOREIGN KEY (`peminjam_id`) REFERENCES `pengguna` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Transaksi peminjaman kendaraan';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `peminjaman_kendaraan`
--

LOCK TABLES `peminjaman_kendaraan` WRITE;
/*!40000 ALTER TABLE `peminjaman_kendaraan` DISABLE KEYS */;
/*!40000 ALTER TABLE `peminjaman_kendaraan` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `UpdateVehicleStatusOnLoan`

AFTER UPDATE ON `peminjaman_kendaraan`

FOR EACH ROW

BEGIN

    -- Update status when loan is approved

    IF NEW.status = 'Approved' AND OLD.status != 'Approved' THEN

        UPDATE kendaraan 

        SET status_peminjaman = 'Dipinjam'

        WHERE id = NEW.kendaraan_id;

    END IF;

    

    -- Update status when loan is completed

    IF NEW.status = 'Completed' AND OLD.status != 'Completed' THEN

        UPDATE kendaraan 

        SET status_peminjaman = 'Tersedia'

        WHERE id = NEW.kendaraan_id;

    END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `peminjaman_terjadwal`
--

DROP TABLE IF EXISTS `peminjaman_terjadwal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `peminjaman_terjadwal` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pemohon_id` int(11) DEFAULT NULL,
  `kendaraan_id` int(11) NOT NULL,
  `keperluan` text DEFAULT NULL,
  `tujuan` varchar(255) DEFAULT NULL,
  `tanggal_mulai` datetime DEFAULT NULL,
  `tanggal_selesai` datetime DEFAULT NULL,
  `jam_mulai` time DEFAULT NULL,
  `jam_selesai` time DEFAULT NULL,
  `status` varchar(50) DEFAULT 'pending',
  `approved_by` int(11) DEFAULT NULL,
  `approved_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_pemohon` (`pemohon_id`),
  KEY `idx_kendaraan` (`kendaraan_id`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `peminjaman_terjadwal`
--

LOCK TABLES `peminjaman_terjadwal` WRITE;
/*!40000 ALTER TABLE `peminjaman_terjadwal` DISABLE KEYS */;
/*!40000 ALTER TABLE `peminjaman_terjadwal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengguna`
--

DROP TABLE IF EXISTS `pengguna`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pengguna` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nrp_nip` varchar(30) DEFAULT NULL,
  `nama_lengkap` varchar(100) NOT NULL,
  `pangkat` varchar(50) DEFAULT NULL,
  `jabatan` varchar(100) DEFAULT NULL,
  `kesatuan_id` int(11) DEFAULT NULL,
  `no_hp` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `alamat` text DEFAULT NULL,
  `status_pegawai` enum('Aktif','Pensiun','Mutasi','Non-Aktif') NOT NULL DEFAULT 'Aktif',
  `status_aktif` enum('Aktif','Tidak Aktif') NOT NULL DEFAULT 'Aktif',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `nrp_nip` (`nrp_nip`),
  KEY `kesatuan_id` (`kesatuan_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengguna`
--

LOCK TABLES `pengguna` WRITE;
/*!40000 ALTER TABLE `pengguna` DISABLE KEYS */;
/*!40000 ALTER TABLE `pengguna` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengguna_kendaraan`
--

DROP TABLE IF EXISTS `pengguna_kendaraan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pengguna_kendaraan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pengguna_id` int(11) NOT NULL,
  `kendaraan_id` int(11) NOT NULL,
  `tanggal_mulai` date NOT NULL,
  `tanggal_selesai` date DEFAULT NULL,
  `status` enum('Aktif','Selesai','Ditangguhkan') DEFAULT 'Aktif',
  `keterangan` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `pengguna_id` (`pengguna_id`),
  KEY `kendaraan_id` (`kendaraan_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengguna_kendaraan`
--

LOCK TABLES `pengguna_kendaraan` WRITE;
/*!40000 ALTER TABLE `pengguna_kendaraan` DISABLE KEYS */;
/*!40000 ALTER TABLE `pengguna_kendaraan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengguna_old`
--

DROP TABLE IF EXISTS `pengguna_old`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pengguna_old` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nrp_nip` varchar(30) DEFAULT NULL,
  `nama_lengkap` varchar(100) NOT NULL,
  `pangkat` varchar(50) DEFAULT NULL,
  `jabatan` varchar(100) DEFAULT NULL,
  `kesatuan_id` int(11) DEFAULT NULL,
  `no_hp` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `alamat` text DEFAULT NULL,
  `tanggal_lahir` date DEFAULT NULL,
  `jenis_kelamin` enum('L','P') DEFAULT NULL,
  `foto` varchar(255) DEFAULT NULL,
  `status_pegawai` enum('Aktif','Pensiun','Mutasi','Non-Aktif') NOT NULL DEFAULT 'Aktif',
  `status_aktif` enum('Aktif','Tidak Aktif') NOT NULL DEFAULT 'Aktif',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_pengguna_nrp` (`nrp_nip`),
  KEY `fk_pengguna_kesatuan` (`kesatuan_id`),
  KEY `idx_pengguna_nama` (`nama_lengkap`),
  KEY `idx_pengguna_status` (`status_pegawai`,`status_aktif`),
  CONSTRAINT `fk_pengguna_kesatuan` FOREIGN KEY (`kesatuan_id`) REFERENCES `kesatuan` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Data personel TNI';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengguna_old`
--

LOCK TABLES `pengguna_old` WRITE;
/*!40000 ALTER TABLE `pengguna_old` DISABLE KEYS */;
/*!40000 ALTER TABLE `pengguna_old` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `riwayat_pemakaian`
--

DROP TABLE IF EXISTS `riwayat_pemakaian`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `riwayat_pemakaian` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kendaraan_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `driver_id` int(11) DEFAULT NULL,
  `tanggal` date NOT NULL,
  `jam_keluar` time DEFAULT NULL,
  `jam_kembali` time DEFAULT NULL,
  `km_awal` int(11) NOT NULL,
  `km_akhir` int(11) DEFAULT NULL,
  `tujuan` varchar(255) NOT NULL,
  `keperluan` text DEFAULT NULL,
  `rute` text DEFAULT NULL,
  `bbm_keluar` decimal(5,2) DEFAULT NULL,
  `bbm_kembali` decimal(5,2) DEFAULT NULL,
  `kondisi_keluar` enum('Baik','Rusak Ringan','Rusak Berat') DEFAULT 'Baik',
  `kondisi_kembali` enum('Baik','Rusak Ringan','Rusak Berat') DEFAULT 'Baik',
  `catatan` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `kendaraan_id` (`kendaraan_id`),
  KEY `user_id` (`user_id`),
  KEY `driver_id` (`driver_id`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `riwayat_pemakaian`
--

LOCK TABLES `riwayat_pemakaian` WRITE;
/*!40000 ALTER TABLE `riwayat_pemakaian` DISABLE KEYS */;
/*!40000 ALTER TABLE `riwayat_pemakaian` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `riwayat_perawatan`
--

DROP TABLE IF EXISTS `riwayat_perawatan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `riwayat_perawatan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kendaraan_id` int(11) NOT NULL,
  `tanggal_perawatan` date NOT NULL,
  `jenis_perawatan` varchar(100) NOT NULL,
  `deskripsi` text DEFAULT NULL,
  `km_saat_perawatan` int(11) DEFAULT NULL,
  `mekanik` varchar(100) DEFAULT NULL,
  `biaya` decimal(15,2) DEFAULT NULL,
  `status` enum('Selesai','Ongoing','Pending','Cancelled') DEFAULT 'Selesai',
  `keterangan` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `kendaraan_id` (`kendaraan_id`),
  KEY `created_by` (`created_by`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `riwayat_perawatan`
--

LOCK TABLES `riwayat_perawatan` WRITE;
/*!40000 ALTER TABLE `riwayat_perawatan` DISABLE KEYS */;
/*!40000 ALTER TABLE `riwayat_perawatan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `riwayat_perbaikan`
--

DROP TABLE IF EXISTS `riwayat_perbaikan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `riwayat_perbaikan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kendaraan_id` int(11) NOT NULL,
  `tanggal_perbaikan` date NOT NULL,
  `jenis_perbaikan` varchar(100) NOT NULL,
  `deskripsi` text DEFAULT NULL,
  `bengkel` varchar(100) DEFAULT NULL,
  `biaya` decimal(15,2) DEFAULT NULL,
  `teknisi` varchar(100) DEFAULT NULL,
  `status` enum('Dalam Proses','Selesai','Ditunda') DEFAULT 'Dalam Proses',
  `km_saat_perbaikan` int(11) DEFAULT NULL,
  `spare_parts` text DEFAULT NULL,
  `catatan` text DEFAULT NULL,
  `bukti_nota` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_by` int(11) DEFAULT NULL,
  `updated_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `kendaraan_id` (`kendaraan_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `riwayat_perbaikan`
--

LOCK TABLES `riwayat_perbaikan` WRITE;
/*!40000 ALTER TABLE `riwayat_perbaikan` DISABLE KEYS */;
INSERT INTO `riwayat_perbaikan` VALUES (1,1,'2025-08-15','Ganti Oli','Ganti oli mesin dan filter oli','Bengkel TNI',350000.00,'Bambang','Selesai',15000,NULL,NULL,NULL,'2025-08-21 03:29:17','2025-08-21 03:29:17',NULL,NULL),(2,3,'2025-08-10','Servis AC','Perbaikan sistem AC kendaraan','Bengkel Resmi',750000.00,'Andi','Selesai',24000,NULL,NULL,NULL,'2025-08-21 03:29:17','2025-08-21 03:29:17',NULL,NULL),(3,17,'2025-08-05','Ganti Ban','Ganti 4 ban kendaraan','Bengkel TNI',2000000.00,'Slamet','Selesai',14500,NULL,NULL,NULL,'2025-08-21 03:29:17','2025-08-21 03:29:17',NULL,NULL);
/*!40000 ALTER TABLE `riwayat_perbaikan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role`
--

DROP TABLE IF EXISTS `role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `role` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_role` varchar(50) NOT NULL,
  `kode_role` varchar(20) NOT NULL,
  `deskripsi` text DEFAULT NULL,
  `level_akses` tinyint(1) NOT NULL DEFAULT 1 COMMENT '1=User, 2=Operator, 3=Admin',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_role_kode` (`kode_role`),
  KEY `idx_role_level` (`level_akses`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Master data Role User';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role`
--

LOCK TABLES `role` WRITE;
/*!40000 ALTER TABLE `role` DISABLE KEYS */;
INSERT INTO `role` VALUES (1,'Administrator','ADMIN','Full access to all system features',3,'2025-08-20 11:00:08','2025-08-20 11:00:08'),(2,'Operator','OPERATOR','Manage vehicles and transactions',2,'2025-08-20 11:00:08','2025-08-20 11:00:08'),(3,'User','USER','Basic user with limited access',1,'2025-08-20 11:00:08','2025-08-20 11:00:08');
/*!40000 ALTER TABLE `role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `surat_tugas`
--

DROP TABLE IF EXISTS `surat_tugas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `surat_tugas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nomor_surat` varchar(50) NOT NULL,
  `tanggal_surat` date NOT NULL,
  `klasifikasi` varchar(20) DEFAULT 'Biasa',
  `lampiran` varchar(255) DEFAULT '-',
  `perihal` varchar(255) DEFAULT 'Permohonan peminjaman kendaraan dinas bus dan tenaga medis',
  `kepada_jabatan` varchar(100) DEFAULT 'Dandenma Mabes TNI',
  `kepada_tempat` varchar(50) DEFAULT 'Jakarta',
  `dasar_a` text DEFAULT 'Peraturan Panglima TNI Nomor 24 Tahun 2014 tentang Pengesahan Validasi Organisasi FKT dan;',
  `dasar_b` text DEFAULT 'Surat Perintah Kapusinfolahta TNI Nomor Sprin/97/XI/2023 tanggal 20 Oktober 2023 tentang Fungsi Pengadaan HUT ke-17 Pusinfolahta TNI dan;',
  `berangkat_dari` varchar(100) DEFAULT 'Pusinfolahta TNI',
  `waktu_berangkat` varchar(50) DEFAULT 'Pukul 05.00 WIB s.d selesai',
  `pejabat_ttd_jabatan` varchar(100) DEFAULT 'a.n Kepala Pusinfolahta TNI',
  `pejabat_ttd_sebagai` varchar(50) DEFAULT 'Waka,',
  `tembusan_1` varchar(100) DEFAULT 'Kapusinfolahta TNI',
  `tembusan_2` varchar(100) DEFAULT 'Asops Denma Mabes TNI',
  `tembusan_3` varchar(100) DEFAULT 'Dansetang Denma Mabes TNI',
  `tembusan_4` varchar(100) DEFAULT 'Dansakdok Denma Mabes TNI',
  `kendaraan_id` int(11) NOT NULL,
  `pengguna_id` int(11) NOT NULL,
  `tujuan` varchar(255) NOT NULL,
  `keperluan` text NOT NULL,
  `tanggal_berangkat` date NOT NULL,
  `tanggal_kembali` date DEFAULT NULL,
  `estimasi_km` int(11) DEFAULT NULL,
  `estimasi_bbm` decimal(8,2) DEFAULT NULL,
  `status` enum('Draft','Disetujui','Dalam Perjalanan','Selesai','Dibatalkan') NOT NULL DEFAULT 'Draft',
  `km_berangkat` int(11) DEFAULT NULL,
  `km_kembali` int(11) DEFAULT NULL,
  `bbm_terpakai` decimal(8,2) DEFAULT NULL,
  `laporan_perjalanan` text DEFAULT NULL,
  `pejabat_ttd` varchar(100) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_by` int(11) DEFAULT NULL,
  `updated_by` int(11) DEFAULT NULL,
  `dasar_list` text DEFAULT NULL,
  `tembusan_list` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nomor_surat` (`nomor_surat`),
  KEY `kendaraan_id` (`kendaraan_id`),
  KEY `pengguna_id` (`pengguna_id`),
  KEY `created_by` (`created_by`),
  KEY `updated_by` (`updated_by`),
  KEY `idx_tanggal_surat` (`tanggal_surat`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Tabel surat tugas perjalanan dinas';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `surat_tugas`
--

LOCK TABLES `surat_tugas` WRITE;
/*!40000 ALTER TABLE `surat_tugas` DISABLE KEYS */;
/*!40000 ALTER TABLE `surat_tugas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_settings`
--

DROP TABLE IF EXISTS `system_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `system_settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `setting_key` varchar(100) NOT NULL,
  `setting_value` text DEFAULT NULL,
  `setting_type` enum('string','integer','float','boolean','json') DEFAULT 'string',
  `category` varchar(50) DEFAULT 'general',
  `description` text DEFAULT NULL,
  `is_editable` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_setting_key` (`setting_key`),
  KEY `idx_setting_category` (`category`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='System configuration settings';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_settings`
--

LOCK TABLES `system_settings` WRITE;
/*!40000 ALTER TABLE `system_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_account`
--

DROP TABLE IF EXISTS `user_account`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_account` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pengguna_id` int(11) NOT NULL,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role_id` int(11) NOT NULL,
  `last_login` timestamp NULL DEFAULT NULL,
  `status` enum('Aktif','Tidak Aktif','Suspended') NOT NULL DEFAULT 'Aktif',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `pengguna_id` (`pengguna_id`),
  KEY `role_id` (`role_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_account`
--

LOCK TABLES `user_account` WRITE;
/*!40000 ALTER TABLE `user_account` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_account` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_account_old`
--

DROP TABLE IF EXISTS `user_account_old`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_account_old` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pengguna_id` int(11) NOT NULL,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role_id` int(11) NOT NULL,
  `last_login` timestamp NULL DEFAULT NULL,
  `login_attempts` tinyint(1) NOT NULL DEFAULT 0,
  `locked_until` timestamp NULL DEFAULT NULL,
  `password_changed_at` timestamp NULL DEFAULT NULL,
  `force_password_change` tinyint(1) NOT NULL DEFAULT 0,
  `status` enum('Aktif','Tidak Aktif','Suspended') NOT NULL DEFAULT 'Aktif',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_username` (`username`),
  UNIQUE KEY `uk_user_pengguna` (`pengguna_id`),
  KEY `fk_user_role` (`role_id`),
  KEY `idx_user_status` (`status`),
  KEY `idx_user_login` (`last_login`),
  CONSTRAINT `fk_user_pengguna` FOREIGN KEY (`pengguna_id`) REFERENCES `pengguna_old` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_user_role` FOREIGN KEY (`role_id`) REFERENCES `role` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='User login accounts';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_account_old`
--

LOCK TABLES `user_account_old` WRITE;
/*!40000 ALTER TABLE `user_account_old` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_account_old` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_activity`
--

DROP TABLE IF EXISTS `user_activity`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_activity` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `activity_type` varchar(50) NOT NULL,
  `description` text DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `session_id` varchar(128) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_activity_user` (`user_id`),
  KEY `idx_activity_type` (`activity_type`),
  KEY `idx_activity_date` (`created_at`),
  CONSTRAINT `fk_activity_user` FOREIGN KEY (`user_id`) REFERENCES `user_account_old` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='User activity audit log';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_activity`
--

LOCK TABLES `user_activity` WRITE;
/*!40000 ALTER TABLE `user_activity` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_activity` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `v_active_loans`
--

DROP TABLE IF EXISTS `v_active_loans`;
/*!50001 DROP VIEW IF EXISTS `v_active_loans`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_active_loans` AS SELECT
 1 AS `id`,
  1 AS `nomor_surat`,
  1 AS `no_polisi`,
  1 AS `peminjam`,
  1 AS `tanggal_mulai`,
  1 AS `tanggal_selesai`,
  1 AS `tujuan`,
  1 AS `status`,
  1 AS `days_remaining` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_document_expiry`
--

DROP TABLE IF EXISTS `v_document_expiry`;
/*!50001 DROP VIEW IF EXISTS `v_document_expiry`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_document_expiry` AS SELECT
 1 AS `id`,
  1 AS `no_polisi`,
  1 AS `jenis_dokumen`,
  1 AS `nomor_dokumen`,
  1 AS `tanggal_berlaku`,
  1 AS `days_to_expiry`,
  1 AS `status` */;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `v_active_loans`
--

/*!50001 DROP VIEW IF EXISTS `v_active_loans`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_active_loans` AS select `pk`.`id` AS `id`,`pk`.`nomor_surat` AS `nomor_surat`,`k`.`no_polisi` AS `no_polisi`,`p`.`nama_lengkap` AS `peminjam`,`pk`.`tanggal_mulai` AS `tanggal_mulai`,`pk`.`tanggal_selesai` AS `tanggal_selesai`,`pk`.`tujuan` AS `tujuan`,`pk`.`status` AS `status`,to_days(`pk`.`tanggal_selesai`) - to_days(curdate()) AS `days_remaining` from ((`peminjaman_kendaraan` `pk` join `kendaraan` `k` on(`pk`.`kendaraan_id` = `k`.`id`)) join `pengguna` `p` on(`pk`.`peminjam_id` = `p`.`id`)) where `pk`.`status` in ('Approved','Ongoing') */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_document_expiry`
--

/*!50001 DROP VIEW IF EXISTS `v_document_expiry`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_document_expiry` AS select `dk`.`id` AS `id`,`k`.`no_polisi` AS `no_polisi`,`dk`.`jenis_dokumen` AS `jenis_dokumen`,`dk`.`nomor_dokumen` AS `nomor_dokumen`,`dk`.`tanggal_berlaku` AS `tanggal_berlaku`,to_days(`dk`.`tanggal_berlaku`) - to_days(curdate()) AS `days_to_expiry`,`dk`.`status` AS `status` from (`dokumen_kendaraan` `dk` join `kendaraan` `k` on(`dk`.`kendaraan_id` = `k`.`id`)) where `dk`.`tanggal_berlaku` is not null and `dk`.`status` = 'Aktif' order by `dk`.`tanggal_berlaku` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-08-27  9:55:10
